.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat__messages{
flex: 1;
overflow: scroll;
}

/* hide scrollbar for chrome, safari, and opera */

.chat__messages::-webkit-scrollbar{
  display: none;
}
/* Hidse scrollbar for IE, Edge and Firefox */
.chat__messages{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__input{
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;  
  border-radius: 5px;
  margin: 20px;
  border-top: 1 px solid gray;
  background-color: #474b53;
}
.chat__input > form > input {
  color: white;
  padding: 15px;  
  width: 100%;
 font-size: large;
  outline-width: 0;
  border:none;
  background-color: transparent
}

.chat__input > form {
flex: 1;
}
.chat__inputButton{
display: none;
}
.chat__inputIcons > .MuiSvgIcon-root{
padding: 5px;
}